{% extends 'base.html' %}
{% load thumbnail %}
{% load some_tags %}

{% block title %}
    Naya Form
{% endblock %}
{% block styles %}
.help
{   
  color: #999999;
  font-size: 12px !important;
}

.error
{
    border-color: red;
    border-width: 1.5px;
    border-style: dashed;
    padding: 1px;
}
</style>

<link type="text/css" href="{{MEDIA_URL}}/jquery/css/smoothness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />	
{% endblock %}

{% block scripts %}
<script language='javascript'>
var DEBUG = false    
function debug(msg)
{
    if (DEBUG)
    {
        alert(msg)
    }
}

/*
provides the addAnother functionality -- allows to add another instance of an element by duplicating it _properly_

duplicates an element(which an also be a collection of elements) which has the given elIDprefix and lastNum and adds
the element obtained to the original element's parentNode.
Both are required to be passed seperately so that things are easier for processing.

The source element's ID is constructed using the divIDprefix and lastNum. The destinationElement is named same with the lastNum
incremented with 1.

Conventions:
*/

function addAnother(callerButton,elIDprefix,lastNum)
{
    //is this a formset element ? -- elements which contains form fields (to know what is a formset refer Django Doc/ask Samar)
    if (elIDprefix.indexOf('form') != -1)
    {
        isForm = true;
    }

    //clone the element
    var sourceElID = elIDprefix + "_" + lastNum;
    var sourceEl = document.getElementById(sourceElID)
    debug("Got sourceEl " + sourceElID);

    var destinationElID = elIDprefix + "_" + (lastNum + 1);
    var destinationEl = sourceEl.cloneNode(true)
    debug("Created destinationEl " + destinationElID);

    destinationEl.id = destinationElID

    if (isForm)
    { 
        //Change the ID's of all the form elements in the given element
        var allInputs = destinationEl.getElementsByTagName('input');
        var allSelects = destinationEl.getElementsByTagName('select');
        var allTextAreas = destinationEl.getElementsByTagName('textarea');
        var all = [allInputs,allSelects,allTextAreas];

        for (var i=0;i<all.length;i++)
        {
            currentColl = all[i];

            for (var j=0; j<currentColl.length; j++)
            {
                id = currentColl[j].id.split('-'); //get the number out
                id[1] = lastNum+1; //replace it with the incremented number
                currentColl[j].id = id.join('-'); //we have the new id!
                debug("We got an " + currentColl[j].type) 
                if (currentColl[j].type != 'button' && currentColl[j].type !='hidden')
                    currentColl[j].value = ""
            }
        }
        
        //alter the management form to reflect the changes (see Django doc/ask Samar for what is a management form)
        //document.getElementById('id_form-TOTAL_FORMS').value = parseInt(document.getElementById('id_form-TOTAL_FORMS').value) + 1
    }

    sourceEl.parentNode.appendChild(destinationEl)

    //fix the add Another button now
    var fCall = callerButton.getAttribute('onClick').split(',')
    fCall[2] = lastNum + 1
    fCall[2] += ")" //add the closing bracket

    callerButton.setAttribute('onClick',fCall)
    callerButton.parentNode = ""
    sourceEl.parentNode.appendChild(callerButton)

    //$('.add').remove;
    //$(destinationDivID).appendTo('.increaseable:last');
}

</script>
<script type="text/javascript" src='{{MEDIA_URL}}/jquery/js/jquery-1.7.2.min.js'></script>
<script type="text/javascript" src="{{MEDIA_URL}}/jquery/js/jquery-ui-1.8.21.custom.min.js"></script>
<script language='javascript'>
    $(function(){
        // Accordion
        $("#accordion").accordion({
            header: "h3",
            autoHeight: false,
            navigation: true,
            collapsible: true,
            sortable: true,
            });

        // Tabs        
        $('#tabs').tabs();

        // Datepicker
        $('#datepicker').datepicker({
            inline: true
        });
        
        //hover states on the static widgets
        $('#dialog_link, ul#icons li').hover(
            function() { $(this).addClass('ui-state-hover'); }, 
            function() { $(this).removeClass('ui-state-hover'); }
        );
        
    });
</script>
{% endblock %}
{% block content %}

{% if messages %}
<span class='message'>Following errors were encountered when processing your form:</span>
<ul class="messages">
   {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}
<!-- the onSubmitValidator() validates using JavaScript and then enables form submission -->
<form name='f' id='info_form' onsubmit="return onSubmitValidator();" method='post' enctype='multipart/form-data'  action='#' original_action='{{ROOT}}/student_info/{{prn}}/nayaform'>
{% csrf_token %}

<div id="tabs">
    <ul>
        <li class='sectionlinks'><a href='#tabs-1'>Basic information*</a></li>
        <li class='sectionlinks'><a href="#tabs-2">Personal information*</a></li>
        <li class='sectionlinks'><a href="#tabs-3">Marks and Qualifications*</a></li>
        <li class='sectionlinks'><a href="#tabs-4">Software Skillset*</a></li>
        <li class='sectionlinks'><a href="#tabs-5">Other Information</a></li>
        <li class='sectionlinks'><a href='#tabs-6'>Extra Information</a></li>
        <!-- tabs 6,7,8 are in accordion in the Other Information section -->
        <li><a class='sectionlinks' href="#tabs-7">Company Specific information*</a></li>
    </ul>
    
    <div id='tabs-1'>
	<!-- basic information form -->
	<div id="form_student" class="non_increaseable">
	<table>
	   {% for field in student_form %}
	   <tr align='left'>    
			<td width='20%'> {{ field.label_tag }} <br/>
				<span class='help'>{{ field.help_text }}</span>
			</td>
			
			<td width='50%'> 
				{{ field }}
				{% for error in field.errors %}
					<p class='error'>{{ error }}</p>
				{% endfor %}
			</td>
		</tr>
	   {% endfor %}
	</table>
    </div>
    {% if photo %}
        <div id='photo'>
            {% thumbnail photo.url "180x150" crop="50% center" as im %}
                <img src='{{ im.url }}'>
            {% endthumbnail %}
        </div>
    {% endif %}
	</div>

	<div id='tabs-2'>
	<!-- personal information form -->
	{{ personal_formset.management_form }}
	{% for form in personal_formset.forms %}
	<div id="formset_personal_{{ forloop.counter0 }}" class="increaseable">
	<table>
	   {% for field in form %}
	   <tr align='left'>    
			<td width='20%'> {{ field.label_tag }} <br/>
				<span class='help'>{{ field.help_text }}</span>
			</td>
			
			<td width='50%'> 
				{{ field }}
				{% for error in field.errors %}
					<p class='error'>{{ error }}</p>
				{% endfor %}
			</td>
		</tr>
	   {% endfor %}
	</table>
	</div>
	{% endfor %}
	</div>

	<div id='tabs-3'>
	<!-- marks filling form -->
	{{ marks_formset.management_form }}
    <p align='left'>You need to specify your score for (atleast) Xth, XIIth and Graduation till now</p>
	{% for form in marks_formset.forms %}
	<div id="formset_marks_{{ forloop.counter0 }}" class="increaseable">
	<table>
	   {% for field in form %}
	   <tr align='left'>    
			<td width='20%'> {{ field.label_tag }} <br/>
				<span class='help'>{{ field.help_text }}</span>
			</td>
			
			<td width='50%'> 
				{{ field }}
				{% for error in field.errors %}
					<p class='error'>{{ error }}</p>
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>

	{% if forloop.last %}
		<input type='button' value="Add Another" onClick="addAnother(this,'formset_marks',{{forloop.counter0}})">
	{% endif %}
	{% endfor %}
	</div>

	<!-- software exposure information form -->
	<div id='tabs-4'>
	{{ swExposure_formset.management_form }}
	{% for form in swExposure_formset.forms %}
	<div id="formset_swExposure_{{ forloop.counter0 }}" class="increaseable">
	<table>
	   {% for field in form %}
	   <tr align='left'>    
			<td width='20%'> {{ field.label_tag }} <br/>
				<span class='help'>{{ field.help_text }}</span>
			</td>
			
			<td width='50%'> 
				{{ field }}
				{% for error in field.errors %}
					<p class='error'>{{ error }}</p>
				{% endfor %}
			</td>
		</tr>
	   {% endfor %}
	</table>
	</div>
	{% endfor %}
	</div>

    
	<div id='tabs-5'>
		<div id='accordion'>
			<div>
				<h3><a href='#'>Work Experience</a></h3>
				<!-- workex information form -->
				{{ workex_formset.management_form }}
				{% for form in workex_formset.forms %}
				<div id="formset_workex_{{ forloop.counter0 }}" class="increaseable">
				<table>
				   {% for field in form %}
				   <tr align='left'>    
						<td width='20%'> {{ field.label_tag }} <br/>
							<span class='help'>{{ field.help_text }}</span>
						</td>
						
						<td width='50%'> 
							{{ field }}
							{% for error in field.errors %}
								<p class='error'>{{ error }}</p>
							{% endfor %}
						</td>
					</tr>
				   {% endfor %}
				</table>
				</div>
				{% if forloop.last %}
					<input type='button' value="Add Another" onClick="addAnother(this,'formset_workex',{{forloop.counter0}})">
				{% endif %}
				{% endfor %}
			</div>

			<div>
				<h3><a href='#'>Certificate Information</a></h3>
				<!-- certificate information form -->
				{{ certification_formset.management_form }}
				{% for form in certification_formset.forms %}
				<div id="formset_certification_{{ forloop.counter0 }}" class="increaseable">
				<table>
				   {% for field in form %}
				   <tr align='left'>    
						<td width='20%'> {{ field.label_tag }} <br/>
							<span class='help'>{{ field.help_text }}</span>
						</td>
						
						<td width='50%'> 
							{{ field }}
							{% for error in field.errors %}
								<p class='error'>{{ error }}</p>
							{% endfor %}
						</td>
					</tr>
				   {% endfor %}
				</table>
				</div>
				{% if forloop.last %}
					<input type='button' value="Add Another" onClick="addAnother(this,'formset_certification',{{forloop.counter0}})">
				{% endif %}
				{% endfor %}
			</div>

			<div>
				<h3><a href='#'>Academic Achievements</a></h3>
				<!-- academic information form -->
				{{ academic_formset.management_form }}
				{% for form in academic_formset.forms %}
				<div id="formset_academic_{{ forloop.counter0 }}" class="increaseable">
				<table>
				   {% for field in form %}
				   <tr align='left'>    
						<td width='20%'> {{ field.label_tag }} <br/>
							<span class='help'>{{ field.help_text }}</span>
						</td>
						
						<td width='50%'> 
							{{ field }}
							{% for error in field.errors %}
								<p class='error'>{{ error }}</p>
							{% endfor %}
						</td>
					</tr>
				   {% endfor %}
				</table>
				</div>
				{% if forloop.last %}
					<input type='button' value="Add Another" onClick="addAnother(this,'formset_academic',{{forloop.counter0}})">
				{% endif %}
				{% endfor %}
			</div>

			<div>
				<h3><a href='#'>Projects Undertaken</a></h3>
				<!-- project information form -->
				{{ project_formset.management_form }}
				{% for form in project_formset.forms %}
				<div id="formset_project_{{ forloop.counter0 }}" class="increaseable">
				<table>
				   {% for field in form %}
				   <tr align='left'>    
						<td width='20%'> {{ field.label_tag }} <br/>
							<span class='help'>{{ field.help_text }}</span>
						</td>
						
						<td width='50%'> 
							{{ field }}
							{% for error in field.errors %}
								<p class='error'>{{ error }}</p>
							{% endfor %}
						</td>
					</tr>
				   {% endfor %}
				</table>
				</div>
				{% if forloop.last %}
					<input type='button' value="Add Another" onClick="addAnother(this,'formset_project',{{forloop.counter0}})">
				{% endif %}
				{% endfor %}
			</div>

			<div>
				<h3><a href='#'>ExtraCurricular Achievements</a></h3>
				<!-- extracurricular information form -->
				{{ extracurricular_formset.management_form }}
				{% for form in extracurricular_formset.forms %}
				<div id="formset_extracurricular_{{ forloop.counter0 }}" class="increaseable">
				<table>
				   {% for field in form %}
				   <tr align='left'>    
						<td width='20%'> {{ field.label_tag }} <br/>
							<span class='help'>{{ field.help_text }}</span>
						</td>
						
						<td width='50%'> 
							{{ field }}
							{% for error in field.errors %}
								<p class='error'>{{ error }}</p>
							{% endfor %}
						</td>

					</tr>
				   {% endfor %}
				</table>
				</div>
				{% if forloop.last %}
					<input type='button' value="Add Another" onClick="addAnother(this,'formset_extracurricular',{{forloop.counter0}})">
				{% endif %}
				{% endfor %}
			</div>
			<br/><br/>
		</div> <!-- end of accordion -->
	</div> <!-- end of tab5 -->

    <!-- un-categorized information section -->
	<div id='tabs-6'>
	<p align='left'>Here you can specify any extra information which doesn't fit in any of the other sections</p>
    {{ extrafield_formset.management_form }}
	{% for form in extrafield_formset.forms %}
	<div id="formset_extrafield_{{ forloop.counter0 }}" class="increaseable">
	<table>
	   {% for field in form %}
	   <tr align='left'>    
			<td width='20%'> {{ field.label_tag }} <br/>
				<span class='help'>{{ field.help_text }}</span>
			</td>
			
			<td width='50%'> 
				{{ field }}
				{% for error in field.errors %}
					<p class='error'>{{ error }}</p>
				{% endfor %}
			</td>
		</tr>
	   {% endfor %}
	</table>
	</div>
        {% if forloop.last %}
            <input type='button' value="Add Another" onClick="addAnother(this,'formset_extrafield',{{forloop.counter0}})">
        {% endif %}
    {% endfor %}
	</div>
    
    <div id='tabs-7'>
    <!-- company specific information wala tab -->
    {% for c in companySpecificData %}
    <!-- {{ c }} -->
       {% if c.valueOf.fieldType == 'special' %}
       <!-- We got a special -->
        {% if c.valueOf.key == 'strongAreas' %}
        Strong Areas 
            <select id = "companySpecific_strongAreas" name = 'strongAreas' onFocus="fillOptions(this)" multiple>
                {% for a in c.value|split:',' %}
                    <option selected >{{a}}</option>     
                {% endfor %}
            </select>
        {% endif %}<!-- end of strong areas wala if -->
        {% if c.valueOf.key == 'weakAreas' %}
        Weak Areas
            <select  id ="companySpecific_weakAreas" name = 'weakAreas' onFocus="fillOptions(this)" multiple=true>
                {% for a in c.value|split:',' %}
                    <option selected >{{a}}</option>     
                {% endfor %}

            </select>
            <BR><BR>
        {% endif %} <!-- end of weak areas wala if -->
       {% endif %} <!-- special field type wala if -->
    {% comment %} Have to d this because there is no elif in django template syntax {% endcomment%}
        <BR>
        <B>{{c.valueOf.displayText}}</b>{% if c.valueOf.is_mandatory %}<B><sup>*</sup></B>{% endif %}
         {% if c.valueOf.fieldType == 'radio' %}
            <!-- got a radio -->
            {% if c.value == 'yes' %}
             Yes  <input type='radio' name='companySpecific_{{c.valueOf.key}}' value='yes' checked>
             No   <input type='radio' name='companySpecific_{{c.valueOf.key}}' value='no'>
            {% else %}
             Yes  <input type='radio' name='companySpecific_{{c.valueOf.key}}' value='yes'>
             No   <input type='radio' name='companySpecific_{{c.valueOf.key}}' value='no' checked>
            {% endif%}
         {% endif %} <!-- end of radio wala if-->
         
         {% if c.valueOf.fieldType == 'textarea'%}
            <textarea name='companySpecific_{{c.valueOf.key}}' id = 'companySpecific_{{c.valueOf.key}}' {% if c.valueOf.is_mandatory %} mandatory='true'{% endif %} datatype = '{{c.valueOf.dataType}}'>{{c.value}}</textarea>
         {% endif %}
         
         {% if c.valueOf.fieldType == 'text' %} 
            <input type='text' name='companySpecific_{{c.valueOf.key}}' id='companySpecific_{{c.valueOf.key}}'  {% if c.valueOf.is_mandatory%} mandatory='true'{% endif%} datatype = '{{c.valueOf.dataType}}' value = '{{c.value}}'>
         {% endif %} <!-- fieldtypes wala if -->
    {% empty %}
        &nbsp;
        {% comment %}
        This area and the above id for rendering the special Field types... Write here, the code when there is no pror submission. and in the above 'if' , write the code where there IS propr submission. Take strong and weak areas for example
        Strong Areas
        <select id = "companySpecific_strongAreas" name = 'strongAreas' onFocus="fillOptions(this)" multiple></select>
        Weak Areas
        <select id = "companySpecific_strongAreas" name = 'strongAreas' onFocus="fillOptions(this)" multiple></select>

        {% endcomment %}
    {% endfor%}

    <!-- unfilled items -->
    {% for c in companySpecificFields %}
    <BR>
        <B>{{c.displayText}}</b> {%if c.is_mandatory %}<b><sup>*</sup></b>{% endif %}
        {% if c.fieldType == 'radio' %}
             Yes  <input type='{{c.fieldType}}' name='companySpecific_{{c.key}}'  value='yes'>
             No   <input type='{{c.fieldType}}' name='companySpecific_{{c.key}}' {% if c.is_mandatory %} checked {% endif %} value='no'>
        {% endif %}
        {% if c.fieldType == 'textarea' %}
           <textarea name='companySpecific_{{c.key}}' id = 'companySpecific_{{c.key}}' {% if is_mandatory %} mandatory = 'true' {% endif %} datatype = '{{c.dataType}}'></textarea>
        {% endif %}
        {% if c.fieldType == 'text' %}
            <input type='{{c.fieldType}}' name='companySpecific_{{c.key}}' id='companySpecific_{{c.key}}' {%if c.is_mandatory %} mandatory = 'true' {% endif %} datatype = '{{c.dataType}}'>
        {% endif %}
    {% endfor %}
    </div> 
    </div>


</div>
<div align='center'><input type='submit' value='Submit'/></div>
</form>
{% endblock %}
