{% extends 'base.html' %}
{% block title %}
    Naya Form
{% endblock %}
{% block scripts %}
<script language='javascript' src='{{MEDIA_URL}}/jquery/js/jquery-1.7.2.min.js'></script>
<script language='javascript'>
    /*function addAnother(divID,lastCount)
    {
        sourceDiv = document.getElementById(divID)
        destinationDiv = sourceDiv.cloneNode(true)
        destinationDiv.id = divID.split('_')

        allInputs = destinationDiv.replace(
    }*/

/* provides the addAnother functionality -- allows to add another instance of an element by duplicating it _properly_ */
function addNew(elName,val)
{
        // set the form flag which is used to set whether the remove button is to be rendered or not.
        if(val == '[]' ) formflag = true
        else if (!val) formflag = true
        else formflag= false
       
        c=document.getElementById(elName);
        debug(c.id + c.tagName)
        if (formflag)
        {
            removeButton=document.createElement('input')
            removeButton.type='button';
            removeButton.value="remove";
        }
         {% if flag == 'form' %}
                 formflag=true;
        
         {% endif %}   
        
        // If its a table (other fields or marks )
        if (c.tagName=='TR' || c.tagName == 'tr')
            {
                noOfTR=c.parentNode.children.length; // number of TR's . = parentNode.childElementCount
                              
                if ((c.id.indexOf('marks')>-1) && (formflag))
                    firstNode=c.parentNode.children[3]; // alteast 3 are compulsory.  and clone the third one. 
                else  
                    firstNode=c.parentNode.children[1] // if other fields. then clone the first one 
                
                lastNode=c.parentNode.children[noOfTR-1]
                clone=firstNode.cloneNode(true); 
                
                l=lastNode.getElementsByTagName('select');
                if (l.length ==0 ) 
                    l = lastNode.getElementsByTagName('textarea')// Since select is in both marks and other fields. Except the Extra fields ehich has a textarea.
                debug(lastNode.id)

                
                lastID=l[0].id.split('_')[2]                 
                
                newID = parseInt(lastID) + 1; // ID of the clone should be one more than the ID of the lastNOde.
                
                allInputs = clone.getElementsByTagName('input');
                allSelects = clone.getElementsByTagName('select');
                allTextAreas = clone.getElementsByTagName('textarea');
                all = [allInputs,allSelects,allTextAreas];

                //Change the ID's of all the elements in the TR
                all = [allInputs,allSelects,allTextAreas];
                for (var i=0;i<all.length;i++)
                {
                    currentColl = all[i];

                    for (var j=0; j<currentColl.length; j++)
                    {
                        id = currentColl[j].id.split('_'); //get the number out
                        id[2] = newID; //replace it with the incremented number
                        currentColl[j].id = id.join('_'); //we have the new id!
                        debug("We got an " + currentColl[j].type) 
                        if (currentColl[j].type != 'button' && currentColl[j].type !='hidden')
                            currentColl[j].value = ""
                    }
                }

                //finally change the Id of the container too!
                //writing this code seperately because can't find a way to include a single element in the above _all_ wali list :(
                id = clone.id.split('_');
                id[2] = newID;
                clone.id = id.join('_')
/*                
                for(var i=0;i<lastNode.children.length;i++)
                   {
                    for (var j=0;j<lastNode.children[i].children.length;j++)
                    {
                        id=lastNode.children[i].children[j].id.split('_');
                        id[2]=parseInt(id[2])+1;
                        clone.children[i].children[j].id=id.join('_');
                        
                        /* if (clone.children[i].children[j].type != 'button' && (clone.children[i].children[j].tagName == 'textarea' || clone.children[i].children[j].tagName == 'TEXTAREA'))
                        {
                            clone.children[i].children[j].value="";
                        }  
                    }
                   }
               */
                if((formflag)&&(c.id.indexOf('marks')>-1))
                {
                    removeButton.addEventListener('click',function(){ clone.parentNode.removeChild(clone)},false);
                    id[1]='remove';
                    var removeId=id.join('_');

                    removeButton.id=removeId;
                    clone.appendChild(removeButton);
                }
                c.parentNode.appendChild(clone);
                clone.children[0].children[0].focus()

            }
        else // for LI type..
        {
            var bacche = c.children; // how many LI;s are there - for pre-filled, there will be more than one.
            l=bacche.length;
            
            var clone=bacche[0].cloneNode(true); // CLone the first LI.
            
            id=bacche[l-1].children[0].id.split('_');
            id[2]=parseInt(id[2])+1; // get Id of last child and increemnt by 1.
            clone.children[0].id=id.join('_');
            clone.children[0].value="";
            debug(formflag)
            
            if(formflag) // if not-prefilled, then clonned element would not have the remove button
            {
                debug('ds');
                removeButton.addEventListener('click',function(){ clone.parentNode.removeChild(clone)},false);
                id[1]='remove';
                var removeId=id.join('_');
                removeButton.id=removeId;

                clone.appendChild(removeButton);
 //             clone.innerHTML+="<input type='button' value='remove' onclick='removeNode(elName);'>";
            }
          c.appendChild(clone);
          clone.children[0].focus()
            
        }
             
        /*
        if (c.tagName=="TR") 
          {  
            c.parentNode.appendChild(c.cloneNode(true));
            tr=document.createElement('TR');
            c.parentNode.parentNode.appendChild(tr);
            for(var i=0;i<l;i++)
                { 
                 var clone=bacche[i].cloneNode(true);
                 id=clone.id.split('_');
                 id[2]=parseInt(id[2])+1
                 clone.id=id.join('_')
                 tr.appendChild(clone);
                 
                 }
          }
        else
        {
            var clone=bacche[l-1].cloneNode(true);
            id=clone.id.split('_');
            id[2]=parseInt(id[2])+1
            clone.id=id.join('_')
            c.appendChild(clone);
        }*/
 }

function debug(msg)
{
    alert(msg)
}

function idChanger(el,lastNum)
{
    if (!el.hasChildNodes())
    {
        alert("No children to process!");
    }

    children = el.childNodes
    for (i=0;i<children.length;i++)
    {
        alert(children[i].tagName);

        if (children[i].name)
        {
            alert(children[i].name)
            oldID = children[i].name.split('-')
            oldID[1] = lastNum + 1;
            children[i].name = oldID.join()
            children[i].value = ""
        }
        
        if (children[i].id)
        {
            alert(children[i].id)
            oldID = children[i].id.split('-')
            oldID[1] = lastNum + 1;
            children[i].id = oldID.join()
        }

        if (children[i].hasChildNodes())
        {
            alert("Changing for children")
            idChanger(children[i],lastNum)
        }
    }
}

/*
provides the addAnother functionality -- allows to add another instance of an element by duplicating it _properly_

duplicates an element(which an also be a collection of elements) which has the given elIDprefix and lastNum and adds
the element obtained to the original element's parentNode.
Both are required to be passed seperately so that things are easier for processing.

The source element's ID is constructed using the divIDprefix and lastNum. The destinationElement is named same with the lastNum
incremented with 1.

Conventions:


*/

function addAnother(callerButton,elIDprefix,lastNum)
{
    //is this a formset element ? -- elements which contains form fields (to know what is a formset refer Django Doc/ask Samar)
    if (elIDprefix.indexOf('form') != -1)
    {
        isForm = true;
    }

    //clone the element
    var sourceElID = elIDprefix + "_" + lastNum;
    var sourceEl = document.getElementById(sourceElID)
    debug("Got sourceEl " + sourceElID);

    var destinationElID = elIDprefix + "_" + (lastNum + 1);
    var destinationEl = sourceEl.cloneNode(true)
    debug("Created destinationEl " + destinationElID);

    destinationEl.id = destinationElID

    if (isForm)
    { 
        //Change the ID's of all the form elements in the given element
        var allInputs = destinationEl.getElementsByTagName('input');
        var allSelects = destinationEl.getElementsByTagName('select');
        var allTextAreas = destinationEl.getElementsByTagName('textarea');
        var all = [allInputs,allSelects,allTextAreas];

        for (var i=0;i<all.length;i++)
        {
            currentColl = all[i];

            for (var j=0; j<currentColl.length; j++)
            {
                id = currentColl[j].id.split('-'); //get the number out
                id[1] = lastNum+1; //replace it with the incremented number
                currentColl[j].id = id.join('-'); //we have the new id!
                debug("We got an " + currentColl[j].type) 
                if (currentColl[j].type != 'button' && currentColl[j].type !='hidden')
                    currentColl[j].value = ""
            }
        }
        
        //alter the management form to reflect the changes (see Django doc/ask Samar for what is a management form)
        //document.getElementById('id_form-TOTAL_FORMS').value = parseInt(document.getElementById('id_form-TOTAL_FORMS').value) + 1
    }

    sourceEl.parentNode.appendChild(destinationEl)

    //fix the add Another button now
    var fCall = callerButton.getAttribute('onClick').split(',')
    fCall[2] = lastNum + 1
    fCall[2] += ")" //add the closing bracket

    callerButton.setAttribute('onClick',fCall)
    callerButton.parentNode = ""
    sourceEl.parentNode.appendChild(callerButton)

    //$('.add').remove;
    //$(destinationDivID).appendTo('.increaseable:last');
}

</script>
{% endblock %}
{% block styles %}
.help
{   
  color: #999999;
  font-size: 12px !important;
}
{% endblock %}
{% block content %}
<form action='{{ROOT}}/student_info/{{prn}}/nayaform' method='post'>
{% csrf_token %}

{{ personal_formset.management_form }}
{% for form in personal_formset.forms %}
<div id="formset_personal_{{ forloop.counter0 }}" class="increaseable">
<table>
   {% for field in form %}
   <tr align='left'>    
        <td width='20%'> {{ field.label_tag }} <br/>
            <span class='help'>{{ field.help_text }}</span>
        </th>
        
        <td width='50%'> 
            {{ field }}
            {% for error in field.errors %}
                <p class='error'>{{ error }}</p>
            {% endfor %}
        </td>
    </tr>
   {% endfor %}
</table>
</div>
{% endfor %}

{{ marks_formset.management_form }}
{% for form in marks_formset.forms %}
<div id="formset_marks_{{ forloop.counter0 }}" class="increaseable">
<table>
   {% for field in form %}
   <tr align='left'>    
        <td width='20%'> {{ field.label_tag }} <br/>
            <span class='help'>{{ field.help_text }}</span>
        </th>
        
        <td width='50%'> 
            {{ field }}
            {% for error in field.errors %}
                <p class='error'>{{ error }}</p>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% if forloop.last %}
    <input type='button' value="Add Another" onClick="addAnother(this,'formset_marks',{{forloop.counter0}})">
{% endif %}
{% endfor %}

<br/><br/>
<input type='submit' value='Submit'>
</form>
{% endblock %}
