
<html>
<head>
<style type="text/css">

ul {
	margin-left: 1%;
}
table {
 	margin-left: 4%;
}
pre{
    font-family:"verdana";
    margin-left:2%;
}
element{
}
h3{
	padding-bottom: 8px;
	border-bottom-style: double;
}

</style>
</head>
<div style = "{width: 70%; margin-left:15%; border-style:double; padding:13px}">
<div style="{float:left}">
<img src="{{MEDIA_URL}}/photos/{{s.prn}}.png" height='134' width='434'>
</div>
<div style="{float:'right';position:relative}">
<h2> {{ s.fullname }}</h2>
<pre>
    {{ p.get_age() }}Yrs, {{s.sex}}
<b> Tel(M) </b>: +91-{{s.phone_number}}
</pre>
</div>
<br>
<div>
<br>
<h3>Career Objective</h3>
<b><i>{{s.career_objective}}</b></i>
</div>


<div>
<br>
<h3>Personality Traits</h3>
<ul>
	{% for per in p.strength|split:',' %} 
        <li> {{per}}</li>
     {% endfor %}   
</div>


<div>
<br>
<h3> Academic Qualifications</h3>

<table cellpadding=10 >
{% for marks in m %}
<tr><td>{{marks.course}}<td>{{marks.uni}}<td>{{marks.marks}}<td>{{marks.fromDate|date:'Y'}}</tr>
{% endfor %}
</table>
</div>

 
<div>
<br>
<h3> Certifications</h3>

<table cellpadding=10>
<tr><td><li><td>Project on Efficient Cancellable Biometric Key Generation Scheme for Cryptography  <td>April 2010
<tr><td><li><td>Participated in 3 day National Workshop: QCISM '09 on "Futuristic Trends of Quality Control in Information Security Management" -CSIR <td>Oct 2009
</table>
</div>


<div>
<br>
<h3>Software Exposure</h3>
<table>
<tr><td><b>Programming Languages</b><td>:<td>   C++, Java, Python
<tr><td><b>Database</b>  <td>           :<td>   ORacle 9i, SQLite, MySql
<tr><td><b>Operating system</b>    <td> :<td>Windows, Linux, MAc
<Tr><td><b>Otehr software</b>       <tD>:<td>MSOffice 2003, Photoshop, Gimp
<tr><td><b>Web based Tools</b>      <td>:<td>HTML, JS, XML, PHP, Django
</table>
</div>


<div>
<br>
    <h3>Areas Of Interest</h3>
<ul>
<li>Logic
<li>Web 
<li>c++
</div>


 
<div>
<br>
<h3> Projects Undertaken</h3>

<table cellpadding=10>
<tr><td><li><td>Currently working on Laresumex , a Software to help in placements using Python in Django Framework and . (http://projects.sdrclabs.in/laresumex) 
<tr><td><li><td>Worked on Change_Agent a Feedback Management System using Python in Django Framework, LATX for generating resumes. (http://projects.sdrclabs.in/change_agent). 
<tr><td><li><td>Developed a module for SICSR- Admission Process for document verification 
<tr><td><li><td>Developed a Mediawiki feature for SICSR-Wiki (http://wiki.sdrclabs.in) to mark a page for deletion. 
<tr><td><li><td>Developed an application called aries to download files on a remote machine. <D-c>
</table>
</div>


<div>
<br>
<h3> Academic Qualifications</h3>

<table cellpadding=10>
<tr><td><li><td>Currently working on Laresumex , a Software to help in placements using Python in Django Framework and . (http://projects.sdrclabs.in/laresumex) 
<tr><td><li><td>Worked on Change_Agent a Feedback Management System using Python in Django Framework, LATX for generating resumes. (http://projects.sdrclabs.in/change_agent). 
<tr><td><li><td>Developed a module for SICSR- Admission Process for document verification 
<tr><td><li><td>Developed a Mediawiki feature for SICSR-Wiki (http://wiki.sdrclabs.in) to mark a page for deletion. 
<tr><td><li><td>Developed an application called aries to download files on a remote machine. <D-c>
</table>
</div>


<div>
<br>
    <h3>Leadership Qualities</h3>
<ul>
<li>Gnunify
<li>Tech Melange
<li>LTC/PDC
</div>



<div>
<br>
<h3> Extra Curricular</h3>

<table cellpadding=10>
<tr><td><li><td>Currently working on Laresumex , a Software to help in placements using Python in Django Framework and . (http://projects.sdrclabs.in/laresumex) 
<tr><td><li><td>Worked on Change_Agent a Feedback Management System using Python in Django Framework, LATX for generating resumes. (http://projects.sdrclabs.in/change_agent). 
<tr><td><li><td>Developed a module for SICSR- Admission Process for document verification 
<tr><td><li><td>Developed a Mediawiki feature for SICSR-Wiki (http://wiki.sdrclabs.in) to mark a page for deletion. 
<tr><td><li><td>Developed an application called aries to download files on a remote machine. <D-c>
</table>
</div>


<div>
<br>
<h3>Personal dossier</h3>
<table>
<tr><td><b>Mother's Name</b><td>:<td>   Mrs. Radhika Srinivasan
<tr><td><b>Mother's occupation</b>  <td>           :<td>  Associate Proff
<tr><td><b>Father's Name</b>    <td> :<td>Mr S. Srinivasan
<Tr><td><b>Father's Occupation</b>       <tD>:<td>CA
<tr><td><b>Languages Known</b>      <td>:<td>English, Hindi, Tamil (spoken)
<tr><td><b>Permanent Adress</b>      <td>:<td>B-101 Taj Apartments<br>Gazipur<br>Delhi
<tr><td><b>Address of corospondance</b>      <td>:<td>403-BWing, chitrakoot Apartments<br>Model Colony<br>Near SCDL<br>Pune
</table>
</div>

<div>
<br>
    <h3>Hobbies</h3>
<ul>
<li>Dancing
<li>Paintign
</div>


<br><BR>
<p>I hereby declare that the above-mentioned information is correct up to my knowledge and I bear the responsibility for the correctness of the above-mentioned particulars. 
</p><br><br><BR>

<div style = "{float:left;}">
<br>Date
</div>
<div style = "{float:right;}">
Apoorva Srinivasan<br>Pune
</div>
<br><BR>
</div> 
