{% load thumbnail %}
{% load some_tags %}
<html>
<head>
<style type="text/css">
	ul
	{
		margin-left: 1%;
		border:1px;
	}
	table
	{
    		margin-left: 4%;
    		border:1px;
	}
	pre
	{
		font-family:"verdana";
		margin-left:2%;
		border:1px;
	}
	element
	{
		border:1px;
	}
	h3
	{
		border-bottom: 2px solid; 
	}
	
	div
	{
		border:0px;
	}
.split-text { display:block;margin:10px;}

.split-text span {display:block;float:right;margin-left:10px;}
</style>
</head>
<body>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<div style = "{width: 70%; margin-left:15%; border-style:double; padding:13px}"> 
    		
{% if s.photo %}
                <div id='photo' style="position:relative;float:left;clear:right;">
                                {% thumbnail s.photo.url "130x150" crop="30% center" as img %}
                                        <img src='{{ img.url }}'>
                                {% endthumbnail %}
                        </div>
                {% endif %}
 
    		<div style="{float:'right';position:relative}">
        		<h2> &nbsp; {{ s.fullname }}</h2>
        		&nbsp;&nbsp;&nbsp; <b> Date of birth </b>: {{ p.birthdate }}
			</br> &nbsp;&nbsp;&nbsp; <b> Sex </b>:{% if s.sex == 'm' %} Male {% else %} Female {% endif %}
			</br> &nbsp;&nbsp;&nbsp; <b> Tel(M) </b>: +91-{{s.phone}}
			</br> &nbsp;&nbsp;&nbsp; <b> Email ID </b> : {{s.email}}
		</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------->		
		</br>
		<div>
			</br>
			<h3>Career Objective</h3>
			<table cellpadding=10 >
			<tr><td><h4><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{s.career_objective}}</i></h4></tr></td>
			</table>
		</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------->

	{% if p.areasofinterest %}
			<div>
				</br>
				<h3>Areas of Interest</h3>
				<ul>
				<table cellpadding=10>
				{% for aoi in p.areasofinterest|split:',' %}
					<tr><td><li></td><td>{{aoi}}</li></td></tr>
				{% endfor %}
				</table>
				</ul>
			</div>
		{% endif %}
<hr style="border: 1px;color:yellow;">	
<!---------------------------------------------------------------------------------------------------------------------------------------------------->	
	{% if m %}
			<div>
				</br>
				<h3> Academic Qualifications</h3>
				<table border="1" cellpadding=10 >
					<tr>
					<th>Course</th>
					<th>University</th>
					<th>Marks</th>
					<th>Year</th>
					</tr>
				{% for marks in m %}
					<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{marks.course}}</td><td>{{marks.uni}}</td>
					<td>
					{% if marks.markstype == 'GPA' %}
						{{marks.marks}} GPA out of {{marks.outof}}
					{% else %}
					{% if not marks.marks %}
						{{marks.markstype}}
					{% else %}
					{% if marks.markstype == 'Total' %}
						{{marks.get_percentage}}
					{% else %}
						{{ marks.markstype}}
					{% endif %}
					{% endif %}
					{% endif %}
					</td>
					<td>{{marks.fromDate|date:'Y'}}</td>
					</tr>
				{% endfor %}
				</table>
			 </div>
		{% endif %}
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
{% if sw %}
			<div>
				</br>
				<h3>Technologies Known</h3>
				<table cellpadding=10>

					{% if sw.programming %}
						<tr><td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Programming Languages</b></td><td>:</td><td>{{sw.programming}}</td></tr>
					{% endif %}
					{% if sw.databases %}
						<tr><td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Database</b></td>  <td>           :</td><td>   {{sw.databases}}</td></tr>
					{% endif %}
					{% if sw.OS %}
						<tr><td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Operating systems</b></td>    <td> :</td><td>{{sw.OS}}</td></tr>
					{% endif %}
					{% if sw.swPackages %}
						<tr><td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Other software</b></td>       <td>:</td><td>{{sw.swPackages}}</td></tr>
					{% endif %}
					{% if sw.webTools %}
						<tr><td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Web based Tools</b></td>      <td>:</td><td>{{sw.webTools}}</td></tr>
					{% endif %}
				</table>
			</div>
		{% endif %}
<!---------------------------------------------------------------------------------------------------------------------------------------------------->		
{% if pro %}
			<div>   
				</br>
				<h3> Projects Undertaken</h3>
				<ul>
				<table cellpadding=10>
				{% for pr in pro %}
					<tr><td><li><td>{{pr.heading}}</td><td>{{pr.desc}}</td></tr>
				{% endfor %}
				</table>
				</ul>
			</div>
		{% endif %}
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
{% if e %}
			<div>
				</br>
				<h3> Extra Curricular</h3>
				<ul>
				<table cellpadding=10>
				{% for ex in e %}
					<tr><td><li></td><td>{{ex.desc}} in the year {{ex.fromDate|date:'Y'}}</li></td></tr>
				{% endfor %}
			
				</table>
				</ul>
			</div>
		{% endif %}
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
	{% if c %}
			<div>
				</br>
				<h3>Certifications</h3>
				<ul>
				<table cellpadding=10>
				{% for certi in c %}
					<tr>
					<td><li></td>
					<td>{{ certi.desc }}</td>
					<td>{{certi.fromDate|date:'M Y'}}</td>
					</tr>
				{% endfor %}   
				</table>
				</ul>
			</div>
		{% endif %}
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
		{% if w %}
			<div>
				</br>
				<h3> Work Experience </h3>
				<ul>
				<table cellpadding=10>
				{% for wex in w %}
					<tr>
					<td><li></td>
					<td>{{wex.desc}}</td>
					<td> from {{wex.fromDate|date:'M Y'}} to {{wex.endDate|date:'M Y'}}</td>
					</tr>
				{% endfor %}
				</table>
				</ul>
			</div>
		{% endif %}
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
		{% if a %}
			<div>
				</br>
				<h3> Academic Achievements</h3>
				<ul>
				<table cellpadding=10>
				{% for ac in a %}
					<tr><td><li></td><td>{{ac.desc}} in the year {{ac.fromDate|date:'Y'}}</li></td></tr>
				{% endfor %}
				</table>
				</ul>
			</div>
		{% endif %}
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
		
		<div>
			</br>
			<h3>Personal dossier</h3>
			<table cellpadding=10>
			<ul>
			<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Name</b></td>      <td>:</td><td>{{s.fullname}}</td></tr>
			<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Mobile</b></td>      <td>:</td><td>{{s.phone}}</td></tr>
			<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Email</b></td>      <td>:</td><td>{{s.email}}</td></tr>
			<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Languages Known</b></td>      <td>:</td><td>{{p.languages}}</td></tr>
			<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Permanent Adress</b></td>      <td>:</td><td><pre>{{p.per_address}}</pre></td></tr>
			<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Address for correspondence</b></td>     <td>:</td><td><pre>{{p.corr_address }}</pre></td></tr>
			</ul>
			</table>
		</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
		<div>
			</br>
			<h3>Hobbies</h3>
			<ul>
			<table cellpadding=10>
			{% for h in p.hobbies|split:','%}
				<tr><td><li></td><td>{{h}}</li></td>
			{% endfor %}
			</table>
			</ul>
		</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
		</br>
		</br>
		<p>I hereby declare that the above-mentioned information is correct up to my knowledge and I bear the responsibility for the correctness of the above-mentioned particulars.</p>
		</br>
		</br>
		</br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
		<div>
			<p class="split-text">Date <span>{{s.fullname}}<br>Pune</span></p>
		</div>	
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
	</br>
	</br>
	</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
<input type = 'button' onclick="javascript:location.href='{{ROOT}}/home'" value='Home'>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
</body>
</html>



















