{% extends 'base.html' %}
{% block title %}
 Login 
{% endblock %}
{% block content %}
<form action='{{ROOT}}/ldap_login/' method='POST'>

    {% csrf_token %}
    <br/>
    {% if message != None %}
        <h4 align='center' style='color: red' size='10'> {{ message }} </h4><br/><br/>
    {% endif %}
    <table align='center'>
    <tr>
        <td><label for='username'>Username</label></td>
        <td><input type='text' name='username' value='YOURPRN' onclick="this.value=''" maxlength='30'/></td>
    </tr><tr>
        <td><label for='password'>Password</label></td>
        <td><input type='password' name='password' value='PASSWORD' onclick="this.value=''" maxlength='255'/></td>
    </tr>
    <tr>
        <td><td><input type='submit' value='Login!'/></td>
    </tr>
    </table>
</form>
{% endblock %}
