{% extends 'base.html' %}
{% block title %} Password help {% endblock%}
{% block content %}

<h3 align='center'>If you have forgotten your password or it has expired :</h3>

<p align='center' style='font: Trebuchet MS; font-size: 17pt'>

<ul>
    <li>Come to College Labs, and logon on any Windows computer and change your password.</li>
    <li>If you cannot physically come to college, contact the System Administrators on <u><b>sysadmin at sicsr dot ac dot in</b></u> requesting for password change.</li>
</ul>
</p>
{% endblock %}
