{% extends 'base.html' %}
{% block title %}
 Students who are interested in Job Posting(s)
{% endblock %}
{% block content %}

{% for jp,students in jpStudents.items %}
   <h4>---- {{ jp }} ----</h4>
   <!-- <a href='generate_resume/jp/{{jp.id}}/getallResumes'>Get all Resumes (ZIP)</a> -->
   <ul>
   {% for s in students %}
   <li>{{s}} -- <a href="{% url generate_resume.views.pisapdf s %}">Get Resume (PDF)</a></li>
   {% empty %}
         <li><i>No Students have yet shown interest in this Job Posting!</i></li> 
   {% endfor %}
   </ul>
{% endfor %}

<input type='button' value='Go back' onclick="history.go(-1);return true;">

{% endblock %}
