{% extends 'base.html' %}
{% block title %}
    postings
{% endblock %}
{% block content %}
<html>
<head>
<style>

.posting{
    margin-left:25%;
    width:25%;
    /*border:2px dotted;*/
    padding:3%;
    /*background-color:#ffef79;*/
    background-image : url('{{MEDIA_URL}}/post-it.png');
}
.hidden{
    display:none;

}
</style>
<script>
function toggle(o,j)
{
   input = document.getElementById("input_"+j)
   if (!input)
   {
        input= document.createElement('input');
        input.setAttribute('type','hidden');
        input.id = "input_"+j;
    }
    image = document.createElement('img')
    image.src="{{MEDIA_URL}}/Green_tick.png";
    image.height=30
    image.width=40
    image.id = "img_"+j
   switch(o.value)
    {
        case "I am interested in this.":
        {   o.value  = 'Not interested'
            input.name = "interested";
            input.value = j;
            o.parentNode.appendChild(image)
            o.parentNode.appendChild(input);

            break;
        }
        case "Not interested" :
        {
             
            o.value = "I am interested in this."
            input.name = "not interested"
            input.value=j;
            d=document.getElementById('img_'+j);
            o.parentNode.removeChild(d);
            o.parentNode.appendChild(input);

            break;
        }
        case "Hide":
        {
            input.name = "hidden";
            input.value = j;
            p=document.getElementById('p_'+j);
            p.setAttribute('class','hidden');
            o.parentNode.appendChild(input);
            break;
                    
        }
        case "Approve":
        {
            o.parentNode.appendChild(image);
            o.type = 'hidden'
            o.name = 'approved'
            o.value = j;
            break;
        
        }
        case "Reject":
        {
            d = document.getElementById('img_'+j);
            if (d) o.parentNode.removeChild(d);
            o.type = 'hidden';
            o.name = 'disapprove'
            o.value = j;
            break;
        }
            
    }
}


</script>
</head>
<body>
<form action = '{{ROOT}}/jobposting/do' method = 'post'>
{% csrf_token %}
{% for j in personalized_job %}
<p class = "posting" id = 'p_{{ j.post.id }}' >
 <b> {{ j.post.company_name  }}</b><br>
 {{ j.post.description }}<br><BR>
 <b>Apply : </b>
 {{ j.post.how_to_apply }}<BR><BR>
 For more details, visit <a href = "{{ j.post.company_url }}">{{ j.post.company_url }}</a>
<BR><BR>
    {% if j.is_interested %}
    <img src = "{{MEDIA_URL}}/Green_tick.png" height=30 width = 40 id = "img_{{j.post.id}}">
    <input type = 'button' value = 'Not interested' onclick = 'toggle(this, "{{j.post.id}}")'>
    {% else %}
    <input type = 'button' value = 'I am interested in this.' onclick = 'toggle(this, "{{j.post.id}}")'>
    {% endif %}
    <input type = 'button' value = 'Hide' onclick = "toggle(this, '{{j.post.id}}')">
</p>
<BR><BR>
{% endfor %}


{% for j in defalut_job %}
<p class = "posting" id = 'p_{{ j.id }}' >
 <b> {{ j.company_name  }}</b><br>
 {{ j.description }}<br><BR>
 <b>Apply : </b>
 {{ j.how_to_apply }}<BR><BR>
 For more details, visit <a href = "{{ j.company_url }}">{{ j.company_url }}</a>
<BR><BR>
{% if role == 'admin' %}
    <input type = 'button' value = 'Approve' onclick = 'toggle(this, "{{j.id}}")'>
    <input type = 'button' value = 'Reject' onclick = 'toggle(this,"{{j.id}}")'>
{% else %}
    <input type = 'button' value = 'I am interested in this.' onclick = 'toggle(this, "{{j.id}}")'>
    <input type = 'button' value = 'Hide' onclick = "toggle(this, '{{j.id}}')">
{% endif %}

</p>
<BR><BR>
{% endfor %}
<input type = 'button' value = 'back' onclick = 'history.go(-1)'>
<input type = 'submit' value = 'Done'>
<input type = 'button' value = 'Home' onclick = 'javascript:location.href="{{ROOT}}/home"'>
</form>
</html>
{% endblock %}
