{% extends 'base.html' %}
{% block title %}
 home
{% endblock %}
{% block content %}
<html>

<input type = 'button' value = 'get all placed students' onclick="javascript:location.href='{{ROOT}}/PT/got_placed'"><br>
<input type = 'button' value = 'get all un-placed students'><br>
<input type = 'button' value = 'search for students'><br>
<input type = 'button' value = 'fetch students applied for a company' onclick="javascript:location.href='{{ROOT}}/PT/fetch'"><br>
<input type = 'button' value = 'back' onclick ='history.go(-1)'><br>
<input type = 'button' value = 'Logout' onclick="javascript:location.href='{{ROOT}}/ldap_login/logout'"><br>













</html>
{% endblock %}

