{% comment %}
<!-- this letter is to be edited through a text area by ashwini mam/ptm...so we have to use something like jquery Ricompany. text editor -->
{% endcomment %}

<b>Dear students</b>,<br/>
This is to inform you that <a href = '{{company.url}}'><b>{{ company.name }}</b></a>, is coming to SICSR campus.

<br/>
{% if company.about %}
    <p>{{ company.about }}</p>
{% endif %}
<br/> 
{% if company.job_description %}
    <p>The eligibility criteria and other details are: <br/> 
    {{ company.job_description }} 
    </p>
{% else %}
    The eligibility criteria and other details will be disclosed soon.
{% endif %}
      <br/><br/>
{% if company.date_of_process %}
   Please apply at <a href = 'http://projects.sdrclabs.in/laresumex'>LaResume-X</a> before <b>{{ company.date_of_process }}</b>.
{% else %}
   Please apply at <a href = 'http://projects.sdrclabs.in/laresumex'>LaResume-X</a>.
{% endif %}


<p>Regards,<br/>
The Placement Team</p>
