{% extends 'base.html' %}
{% block title %}
Students who have applied for Company
{% endblock %}
{% block content %}

{% for company,students in appliedStudents.items %}
   <h4>---- {{ company }} ----</h4>
	<!-- <a href='generate_resume/company/{{jp.id}}/getallResumes'>Get all Resumes (ZIP)</a> -->
   <ul>
       {% for prn, details in students.items %}
       {% if details.has_resume %}
           <li>({{prn}}) {{details.name}} -- <a href="{% url generate_resume.views.pisapdf prn %}">Get Resume (PDF)</a></li>
       {% else %}
           <li>({{prn}}) {{details.name}} -- <i>No details available!</i></li>
       {% endif %}
       {% empty %}
             <li><i>No Students have shown interest in this company</i></li> 
   {% endfor %}
   </ul>
{% endfor %}

<input type='button' value='Go back' onclick="history.go(-1);return true;">
{% endblock %}
