{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
hi.. welcome to the resume biulding software.. la resumex
<br><BR>
<input type='button' value = 'create your resume' onclick="javascript:location.href='form'"><br>
<input type='button' value = 'edit your resume' onclick="javascript:location.href='/student_info/10030142007/edit';"><BR>
<input type='button' value = 'view your resume(HTML)' onclick="javascript:location.href='/generate_resume/10030142031/html';"><br>
<input type='button' value = 'download your resume(PDF)' onclick="javascript:location.href='/generate_resume/10030142031/pdf';"><br/>
<input type='button' value = 'search resumes' onclick="javascript:location.href='search'"><br/>
<input type='hidden' id = 'prn' value='PRN'>
{% endblock %}
